* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 9pt;
	font-family: 'Ubuntu', sans-serif;
	vertical-align: baseline;
}
body {
	min-width: 933px;
	text-align: center;
	background-color: #222;
	font-size: 0;
}
body::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
body::-webkit-scrollbar-thumb {
	background-color: rgb(208, 220, 242);
	border-radius: 15px;
}
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
	background-color: rgb(42, 50, 58);
}
div {
	display: inline-block;
	vertical-align: top;
}
.sidebar {
	width: 370px;
	height: 100vh;
	position: sticky;
	top: 0;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: hidden scroll;
	color: rgb(105, 174, 182);
	background-color: rgb(14, 46, 58);
	border: 0 solid rgb(208, 220, 242);
	border-left-width: 5px;
	user-select: none;
}
.sidebar::-webkit-scrollbar {
	width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
	background-color: rgb(208, 220, 242);
	border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
	background-color: rgb(42, 50, 58);
}
.navigator {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}
.navbar-container {
	display: flex;
	height: 45px;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(14, 46, 58);
}
#gate-img {
	width: 40px;
	margin-right: 15px;
}
#gate-name {
	font-size: 14pt;
}
.current-gate {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-grow: 100;
}
.separator {
	height: 2px;
	width: 100%;
	background-image: linear-gradient(to right, rgb(14, 46, 58), rgb(208, 220, 242), rgb(14, 46, 58));
}
#entry-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.entry {
	width: 100%;
	display: flex;
	height: 55px;
	margin: 0 20px;
	padding: 7px 0;
}
.entry:hover {
	background-image: linear-gradient(to right, rgb(14, 46, 58), rgb(25, 60, 106), rgb(14, 46, 58));
}
.entry img {
	width: 55px;
}
.entry img, img.animate {
	opacity: 0.5;
}
.entry:hover img, img.animate:hover {
	opacity: 1;
}
.no-anim {
	opacity: 1;
}
.entry .name-date {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 100;
	height: 100%;
	justify-content: space-evenly;
}
.text-title {
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-style: oblique;
}
.name-date p:first-child {
	font-size: 16pt;
}
.name-date p:last-child {
	font-size: 11pt;
}
.dark-bg {
	background-image: linear-gradient(to right, rgb(14, 46, 58), rgb(12, 26, 45), rgb(14, 46, 58));
}
.light-bg {
	background-image: linear-gradient(to right, rgb(14, 46, 58), rgb(31, 93, 100), rgb(14, 46, 58));
}
.middle {
	width: 558px;
	position: relative;
}
.bgcontainer {
	width: 100%;
	z-index: -1;
	font-size: 0;
}
.bgcontainer > img {
	width: 100%;
}
.depth-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 148px;
	position: absolute;
	top: 0;
	user-select: none;
}
.depth-entry {
	width: 100%;
	height: 132px;
}
.depth-entry img {
	position: relative;
	height: 54px;
	margin: 0 3px;
}
.icon-wrapper {
	position: relative;
	text-align: left;
}
.hover-wrapper {
	display: none;
	position: absolute;
	background-color: rgba(14, 46, 58, 0.95);
	width: 210px;
	min-height: 80px;
	right: 43px;
	bottom: 43px;
	padding-top: 9px;
	border-radius: 8px;
}
.icon-wrapper:hover > .hover-wrapper {
	display: flex;
	flex-direction: column;
}
.icon-wrapper:hover > img {
	z-index: 2;
}
.title-wrapper {
	width: 100%;
	background-color: rgb(235, 201, 77);
	line-height: 0.95em;
	font-size: 10.5pt;
}
.title {
	font-size: 10.5pt;
	margin: 3px 0 2px 8px;
}
.blurb {
	flex-grow: 2;
	padding: 9px 11px 22px;
	font-size: 8pt;
	letter-spacing: 0.02em;
	line-height: 1.4em;
	color: rgb(105, 174, 182);
	user-select: none;
}
.hover-footer {
	background-color: rgb(208, 220, 242);
	height: 15px;
	border-radius: 0 0 0 8px;
}
.no-bold {
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
}
.tick-container {
	position: absolute;
	right: 15px;
	top: 0;
	display: flex;
	flex-direction: column;
	text-align: right;
	user-select: none;
}
.tick-container img {
	width: 150%;
}
.tick-container p {
	text-align: left;
	font-size: 11pt;
	margin-right: 6px;
	height: 660px;
	color: rgb(208, 220, 242);
}
.tick-container p:first-child {
	margin-top: 276px;
}
.tick-container p:last-child {
	height: initial;
}